/* _______________________________________________ Selector  _______________________________________________   */



body{
    background-color: #222831;
    overflow-x: hidden;
}

span{
    color: #30475e;
    
}


/* _______________________________________________ Class Selector _______________________________________________   */

.timetable-heading{
    color : cornsilk;
}


.cname, .clink{
    width: 70%;
    margin: 8px 0;
    padding : 1% ;
}
 

.navcol{
    background-color: #f05454;
    padding : 2% ;
}

.text{
    color: cornsilk;
}

.card-head{
    color :black;
    text-align:center;
    /* padding :3px; */
    
}

.card-title{
    color: #30475e;
}

.card{
    background-color:#e8e8e8;
    /* padding: 2% */
    margin: 3% 2%;
}

.card-body{
    text-align: left;
}

.final-button{
    margin: 2% 50%;
}


