/* _______________________________________________ Selector  _______________________________________________   */



body{
    background-color: #222831;
    overflow-x: hidden;
    text-align: center;
}

span{
    color: #30475e;
    
}

section{
    margin: 8rem auto;
}


/* _______________________________________________ Class Selector _______________________________________________   */


header{
    text-align: center;
    background-color: #3b3e42;
    padding:15px 15px;
    color: cornsilk;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    z-index: 2;
}




.cname, .clink{
    width: 70%;
    margin: 8px 0;
    padding : 1% ;
}
 

.navcol{
    background-color: #f05454;
    padding : 2% ;
}

.text{
    color: cornsilk;
}

.card-head{
    color :black;
    text-align:center;
    /* padding :3px; */
    
}

.card-title{
    color: #30475e;
}

.card{
    background-color:#e8e8e8;
    /* padding: 2% */
    margin: 3% 2%;
}

.card-body{
    text-align: left;
}




