button{
    margin-top: 5px;
}
#Table{
    padding: 10px 10px 10px 10px;
}
table, th, td {
    border: 1px solid #ececec;
}

body{
    text-align: center;
    background-color: white;
    color: black;
    font-family: 'Heebo', sans-serif;
}

a{
    color: white;
}

a:hover {
    font-weight: bold;
    /* color: cornsilk; */
    color: black;
}

a:link {
    text-decoration: none;
}
  
a:visited {
   text-decoration: none;
}


.AT{
    background-color: #5bc0de;
}

.BT{
    background-color: #f0ad4e;
}
.CT{
    background-color: #5cb85c;
}
/* .DT{
    background-color: #f4c20d;
} */